<h1>Error</h1>
<h3>An error occured: <%= error %></h3>
<p style="display: none;" id="targetP"><%= target %></p>

<script>
  function redirectAfterDelay (time, target) {
    setTimeout(() => {
      window.location.href = target;
    }, time)
  }

  const targetP = document.getElementById('targetP').textContent;

  window.onload = redirectAfterDelay(4000, targetP)
</script>